{% load compress %}
<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<meta charset=utf-8 />
<title></title>
{% compress css %}
<link href="{{ STATIC_URL }}css/base.less" rel="stylesheet" type="text/less" />
{% endcompress %}
{% if debug %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/1.1.3/less-1.1.3.min.js"></script>
<script type="text/javascript" charset="utf-8">
	less.watch();
</script>
{% endif %}
</head>
<body>
	<div id="main-wrap">
		{% block content %}
		{% endblock %}
	</div> 
	{% compress js %}
	<script src="{{ STATIC_URL }}js/base.js"></script>
	{% endcompress %}

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
		appId      : '{{ FACEBOOK_APP_ID }}',                        // App ID from the app dashboard
//      channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
